.img {
  display: flex;
  justify-content: left;
}
h1 {
  display: block;
  text-align: left;
  font-size: 40px;
  font-style: italic;
}
.anclas {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  pointer-events: all;
}
a {
  text-decoration: none;
  color: blue;
}
p {
  font-size: 22px;
  text-align: left;
  font-style: italic;
}
h3 {
  font-size: 30px;
  text-align: left;
  text-decoration: black;
  color: red;
  font-style: italic;
}
pre {
  display: flex;
  justify-content: left;
}
h4 {
  text-align: left;
  font-size: 22px;
  font-style: italic;
}
body {
  background-color: antiquewhite;
}
